.menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: calc(var(--z-fixed) + 1);
}

.menu-btn__bar {
  background: var(--color-text);
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  left: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.menu-btn__bar--top {
  bottom: 8px;
}

.menu-btn__bar--middle {
  top: 50%;
  transform: translateY(-50%);
}

.menu-btn__bar--bottom {
  top: 8px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar--top {
  transform-origin: 14px -2px;
  transform: rotate(-135deg);
  background: var(--color-text);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar--middle {
  opacity: 0;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar--bottom {
  transform-origin: 22px 4px;
  transform: rotate(-45deg);
  background: var(--color-text);
}

/* Bouton visible sur tous les écrans pour mobile-first
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
*/
