.menu {
  position: fixed;
  inset: 0;
  z-index: var(--z-fixed);
  color: var(--color-text);
  display: flex;
  gap: var(--space-2xl);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-4xl);
}

.menu::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.menu[hidden] {
  visibility: hidden;
}

.menu[hidden]::before {
  transform: translateY(-100vh);
  transition-delay: 0.25s;
}

.menu__list {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.menu__list {
  margin-top: 6rem;
}

.menu__item {
  margin-bottom: var(--space-lg);
}

.menu__img {
  border-radius: var(--space-md);
  position: relative;
  z-index: 3;
}

.menu__link {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-size-2xl);
}

.menu__social-list {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.menu__social-link {
  color: var(--color-text);
  text-decoration: none;
  opacity: 0.7;
}

.menu__item,
.menu__social-item,
.menu__img {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s ease;
}

.menu__item {
  --i: 1;
}
.menu__item:nth-child(2) {
  --i: 2;
}
.menu__item:nth-child(3) {
  --i: 3;
}
.menu__item:nth-child(4),
.menu__social-item:nth-child(1) {
  --i: 4;
}
.menu__item:nth-child(5),
.menu__social-item:nth-child(2) {
  --i: 5;
}
.menu__item:nth-child(6),
.menu__social-item:nth-child(3) {
  --i: 6;
}
.menu__item:nth-child(7),
.menu__img {
  --i: 7;
}

.menu__item,
.menu__social-item,
.menu__img {
  transition-delay: calc(var(--i) * 0.05s);
}

.menu[hidden] .menu__item,
.menu[hidden] .menu__social-item,
.menu[hidden] .menu__img {
  transform: translateY(-20px);
  opacity: 0;
}

@media (min-width: 768px) {
  .menu {
    position: static;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background: none;
    backdrop-filter: none;
    padding: 0;
  }
  
  .menu__list {
    flex-direction: row;
    gap: var(--space-xl);
    height: auto;
  }
  
  .menu__link {
    font-size: var(--font-size-base);
  }
}
