/* Vendors */
@import './vendors/normalize.css';

/* Utils */
@import './utils/variables.css';

/* Base */
@import './base/main.css';
@import './base/media.css';

/* Layout */
@import './layout/header.css';
@import './layout/footer.css';
@import './layout/section.css';
@import './layout/wrapper.css';

/* Components */
@import './components/menu.css';
@import './components/menu-btn.css';
@import './components/btn.css';
@import './components/hero.css';
@import './components/card-stat.css';
@import './components/discover-card.css';
@import './components/card-performer.css';
@import './components/partner-card.css';
@import './components/carousel.css';
@import './components/slogan.css';
@import './components/faq.css';
